@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Centric is a global company that provides consulting solutions for outside clients. Check out the following locations and our contact page for more information.</p>
<p>BOSTON  | CHARLOTTE  | CHICAGO  | CINCINNATI  | CLEVELAND  | COLUMBUS  | INDIA  | INDIANAPOLIS  | LOUISVILLE  | MIAMI  | SEATTLE  | ST. LOUIS  | TAMPA</p>

