@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Centric Corporate<br />
    1215 Lyons Rd Bldg F<br />
    Dayton, OH 45458-1858<br />
    <abbr title="Phone">P:</abbr>
    888.781.7567
</address>

<address>
    <strong>Website:</strong>   <a href="https://centricconsulting.com/contact/">Contacts@centric.com</a>
</address>