@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric Business Consulting</h1>
    <p class="lead">The core reason we exist is to create unmatched experiences for clients and employees.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            We at Centric strive to provide reliable foundation for help create innovative solutions for oour clients.
        </p>
        <p><a class="btn btn-default" href="~/Home/CoreValues">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Leadership</h2>
        <p>We're dedicated to providing you with an unmatched experience by working together to do what's right by you.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/team/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Follow Us</h2>
        <p><a class="btn btn-default" href="https://www.facebook.com/CentricConsultingNational">Facebook &raquo;</a></p>
        <p><a class="btn btn-default" href="https://twitter.com/centric">Twitter &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/centric-consulting/">LinkedIn &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.instagram.com/centricconsulting/">Instagram &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.youtube.com/channel/UCFmtoIKH1ijwpGpiJBxl4dw">Youtube &raquo;</a></p>
    </div>
</div>