@model MIS4200_Team8_Scrum.Models.LandingPage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LandingPage</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.landingPageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
